 <!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		
		{{{meta_js_css_references}}}
	</head>

	<body>

			
		<div id="menu" class="menu_small">
			{{#with menu}}
				{{#with logo}}
					<div class="menu-item menu-item-left logo">
						<a href="/">
							<img src="{{icon_url}}"/>
						</a>
					</div>
				{{/with}}
				{{#each items}}
					{{#with this}}
						<div class="menu-item">
							<a href="{{href}}">{{name}}</a>
						</div>
					{{/with}}
				{{/each}}
				{{#each media}}
					{{#with this}}
						<div class="menu-item media_icon">
							<a href="{{href}}" title="{{tooltip}}">
								<img src="{{icon_url}}"/>
							</a>
						</div>
					{{/with}}
				{{/each}}
			{{/with}}
		</div>
		
		<div class="page">
			<div id="content1" class="content">
				<div class="app_header">{{title}}</div>
				<div class="app_description">{{description}}</div>
			</div>
			
			
			<div id="content2" class="content">
				{{#with howitworks}}
					<div class="large_header">{{title}}</div>
					<div class="h_container">
					{{#with scenarios}}
						{{#each this}}
							<div class="h_stack_container">
								<div>
									<div class="big_header">{{title}}</div>
									{{#with steps}}
										<div class="h_block">
											{{#each this}}
												<table>
													<tr>
														<td>
															<img class="icon" src="{{icon_url}}"/>
														</td>
														<td>
															<div class="medium_header">{{inc @index}}. {{name}}</div>
															<div class="small_description">{{description}}</div>
														</td>
													</tr>
												</table>
											{{/each}}
										</div>
									{{/with}}
								</div>
								<!--
								<div>
									<form>
										<input type="submit" value="{{signup}}"/>
									</form>
								</div>
								-->
							</div>
						{{/each}}
					{{/with}}
					</div>
				{{/with}}
			</div>
			
			
			<div id="content3" class="content">
				{{#with subscribe}}
					<div class="large_header">{{title}}</div>
					<div class="regular_description">{{description}}</div>
					<form method="post" action="{{form_url}}">
						<br/>
						<div>
							<input type="email" name="email" placeholder="{{email_placeholder}}"/>
						</div>
						<br/>
						<div>
							{{question1}}
						</div>
						<div>
							{{#each @root.howitworks.scenarios}}
								{{#with this}}
									<input type="radio" name="role" value="{{title}}"{{#if @first}} checked="checked"{{/if}}>{{title}}<br>
								{{/with}}
							{{/each}}
						</div>
						<div>
							<input type="submit" value="Subscribe"/>
						</div>
					</form>
				{{/with}}
			</div>
			
			<div id="content4" class="content">
				{{#with footer}}
					<div>
						{{#each links}}
							{{#with this}}
								<a href="{{href}}">{{title}}</a>{{#unless @last}} |{{/unless}}
							{{/with}}
						{{/each}}
					</div>
					<p class="small_description_dark">
						{{copyright}}
					</p>
				{{/with}}
			</div>
			
		</div>
		
		<!--
			<div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		-->
		
	</body>

</html> 