 <!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		
		{{{meta_js_css_references}}}
	</head>

	<body>

			
		<div id="menu">
			{{#with menu}}
				{{#with logo}}
					<div class="menu-item menu-item-left menu_small logo">
						<a href="/">
							<img src="{{icon_url}}"/>
						</a>
					</div>
				{{/with}}
				{{#each items}}
					{{#with this}}
						<div class="menu-item menu_small"><a href="{{href}}">{{name}}</a></div>
					{{/with}}
				{{/each}}
			{{/with}}
		</div>
		
		<div class="page">
			<div id="content1" class="content">
				<div class="app_header">{{title}}</div>
				<div class="app_description">{{description}}</div>
			</div>
			
			
			<div id="content2" class="content">
				{{#with howitworks}}
					<div class="large_header">{{title}}</div>
					<div class="h_container">
					{{#with scenarios}}
						{{#each this}}
							<div class="h_stack_container">
								<div>
									<div class="big_header">{{title}}</div>
									{{#with steps}}
										<div class="h_block">
											{{#each this}}
												<table>
													<tr>
														<td>
															<img class="icon" src="{{icon_url}}"/>
														</td>
														<td>
															<div class="medium_header">{{inc @index}}. {{name}}</div>
															<div class="small_description">{{description}}</div>
														</td>
													</tr>
												</table>
											{{/each}}
										</div>
									{{/with}}
								</div>
								<div>
									<form>
										<input type="submit" value="{{signup}}"/>
									</form>
								</div>
							</div>
						{{/each}}
					{{/with}}
					</div>
				{{/with}}
			</div>
		</div>
		
	</body>

</html> 