html, body {
	margin:0px;
	height: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "museo-sans",sans-serif;
	display:flex;
	flex-flow:column;
}


/* MENU */

#menu {
	border-bottom:1px solid gray;
	flex:0 1 50px;
	text-align:right;
}
#menu .menu-item {
	display:inline-block;
	height:50px;
	line-height:50px;
	
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;
	cursor:pointer;
}
#menu .menu-item a {
	display:inline-block;
	height:50px;
	line-height:50px;
	text-decoration:none;
	color:black;
	padding:0 1em;
	
	transition-property: background-color, color;
	transition-duration: 0.3s;
   -ms-transition-property: background-color, color;
   -ms-transition-duration: 0.3s;
   -webkit-transition-property: background-color, color;
   -webkit-transition-duration: 0.3s;
}
#menu .menu-item a:hover {
	background-color:orange;
	color:white;
}
#menu .menu-item-left {
	float:left;
}








/* FONTS */

.app_header {
	font-size:3.5em;
	color:white;
	font-family: "Helvetica Neue", sans-serif; 
	text-shadow: 2px 2px #000000;
}
.app_description {
	font-size:1.7em;
	color:white;
	font-family: "Helvetica Neue", sans-serif; 
	text-shadow: 1px 1px #000000;
}
.menu_small {
	font-size:0.8em;
}
.large_header {
	font-size:2.5em;
}
.big_header {
	font-size:1.4em;
}
.medium_header {
	font-size:1em;
}
.regular_description {
	font-size:0.9em;
}
.small_description {
	font-size:0.8em;
	color:gray;
}
.small_description_dark {
	font-size:0.8em;
}

/* LAYOUTS */

.page {
	overflow-y: auto;
	height:100%;
	flex:0 1 auto;
}



.logo img {
	height:50px;
	padding:5px 0;
	box-sizing:border-box;
}
.media_icon img {
	height:30px;
	box-sizing:border-box;
	vertical-align:middle;
}
.icon {
	width:30px;
	height:30px;
	margin-right:10px;
	display:block;
	vertical-align:top;
}



/* INSTRUCTIONS */

.h_container {

}
.h_container .h_stack_container {
	padding:1em 0em;
}
.h_container .h_stack_container:not(:last-child) {
	border-bottom:1px solid gray;
}
.h_container .h_block {
	border-radius:0.5em;
	margin:1em 0 0 0;
}
.h_container .h_block > table {
	display:inline-block;
	max-width:300px;
	vertical-align:top;
}
.h_container .h_block > table:not(:last-child) {
	margin-right:2em;
}


/* CONTENT */

.content {
	box-sizing:border-box;
	padding:2em;
}
#content1 {
	background-image:url('/image/download.jpg');
	background-size:cover;
	background-position:center 20%;
	height:540px;
}
#content2 {
	margin:2em;
}
#content3 {
	background-color:#ddd;
}
#content3 form input[type='email'] {
	width:100%;
	border:2px solid gray;
	font-size:1em;
	padding:0.5em;
	border-radius:5px;
	box-sizing:border-box;
}
#content3 form input[type='submit'] {
	width:100%;
	border:2px solid black;
	border-radius:5px;
	font-size:1.5em;
	padding:0.3em;
	cursor:pointer;
	background-color:white;
	margin-top:1em;
	box-sizing:border-box;
	
	transition-property: background-color, color, border;
	transition-duration: 0.4s;
   -ms-transition-property: background-color, color, border;
   -ms-transition-duration: 0.4s;
   -webkit-transition-property: background-color, color, border;
   -webkit-transition-duration: 0.4s;
}
#content3 form input[type='submit']:hover {
	border:2px solid #1c4d30;
	background-color:orange;
	color:white;
}
#content4 {
	background-color:orange;
	text-align:center;
}
#content4 a {
	text-decoration:none;
	color:black;
}
#content4 a:hover {
	color:white;
}