html, body {
	margin:0px;
	height: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}
.page {
	overflow-y: auto;
	height:100%;
}



body,input,button {
	font-family: Open Sans;
}